textarea {
  resize: none;
}

.unliked, .comments {
  color: #888;
}

.posts-stream-end {
  text-align: center;
}

#github {
  font-size: 11px;
  text-align: right;
}

#follow-buttons {
  margin: auto;
}

#author-dp {
  margin: 30px 30px 0 30px;
  border: none;
}

body {
  background-color: #eee;
}
