textarea {
  resize: none;
}

.posts-stream-end {
  text-align: center;
}

#github {
  font-size: 11px;
  text-align: right
}

#follow-buttons {
  margin: auto;
}

#author-dp {
  margin: 30px 30px 0 30px;
  border: none;
}

body {
  background-color: #eee;
  word-wrap: break-word;
}

img {
  max-width: 100%;
}
